body {
    padding-top: 65px;
    font-family: cursive;
    padding-bottom:75px;
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    color: #777
}

.content{
    margin-top: 20px;
}

.table-bordered>thead>tr>th{
    border-bottom-width: 0px
}

table{
    table-layout:fixed;
    text-align: center; 
}

.right{
    float: right;
}

.left{
    float: left;
}

#step_head{
    margin-bottom: 0px;
    border-bottom: 0px;
    text-align: center; 
}

#step_head th{
    text-align: center; 
}

#step_problem{
    background-color:#FFFFFF;
    white-space: nowrap;
    padding-right: 0px;
    left: 0px
}

#table_problem th{
    text-align: center; 
}

#table_problem td{
    overflow:hidden;
    text-overflow: ellipsis;
}

#step_user{
    background-color:#FFFFFF;
    height: 74px;
    white-space: nowrap;
    top: 0px
}

#table_user th{
    text-align: center; 
    padding-bottom: 5px;
    padding-top: 5px
}

#table_user th p{
    margin: 0 0 0px;
    font-weight: normal;
    font-size: smaller;
}

#table_user{
    background-color:#FFFFFF;
    width: 90px;
}

#step_solution{
    white-space: nowrap;
}

#table_solution{
    width: 90px;
}

.fix_div1{
    z-index: 2
}

.fix_div2{
    z-index: 1
}

/*
 * Footer
 */

.footer {
     padding: 40px 0;
     color: #999;
     text-align: center;
     background-color: #f9f9f9;
     border-top: 1px solid #e5e5e5;
     margin-top: 40px;
}
