body {
    padding-top: 60px;
}

td{
    white-space: nowrap;
}

.table-bordered>thead>tr>th{
    border-bottom-width: 0px
}

th{
    white-space: nowrap;
}

.right{
    float: right;
}

.left{
    float: left;
}

#step_problem{
    background-color:#FFFFFF;
    text-align: center; 
    left: 0px
}

#step_user{
    background-color:#FFFFFF;
    height: 74px;
    top: 0px
}

#table_user{
    background-color:#FFFFFF;
    table-layout:fixed;
}

#step_solution{
}

#table_solution{
    table-layout:fixed;
}

.fix_div1{
    z-index: 2
}

.fix_div2{
    z-index: 1
}

/*
 * Footer
 */

.footer {
     padding: 40px 0;
     color: #999;
     text-align: center;
     background-color: #f9f9f9;
     border-top: 1px solid #e5e5e5;
     margin-top: 40px;
}
