{% extends "base.html" %}

{% block title %}{% endblock %}

{% block page_content %}
<div id="step_problem" class="col-md-3 fix_div1">
  <table class="table table-bordered" id="step_head">
    <thead>
      <tr>
        <th colspan="3">{{ordinal}} {{problems | length}}题</th>
      </tr>
    </thead>
  </table>
  <table class="table table-bordered" id="table_problem">
    <thead>
      <tr>
          <th width="24%">专项</td>
          <th>专题</th>
          <th width="16%">题目</th>
      </tr>
    </thead>
    <tbody>
    {% for problem in problems %}
    <tr>
      <td style="white-space: normal" title="{{ problem.category.parent.name }}">{{ problem.category.parent.name }}</td>
      <td title="{{ problem.category.name }}">{{ problem.category.name }}</td>
      <td>{{ problem.problem_id }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div id="step_user" class="col-md-8 fix_div2">
  <table class="table table-bordered" id="table_user">
    <thead>
      <tr height="74px">
        {% for user in users %}
        <th id={{ loop.index }} width="90px"><button class="close">×</button>{{ user.name }}<br>{{ user.grade }}</th>
        {% endfor %}
      </tr>
    </thead>
  </table>
</div>
<div id="step_solution" class="col-md-8">
  <table class="table table-bordered" id="table_solution"> 
    <tbody>
      {% for problem in problems %}
        <tr height="37px">
          {% if problem.origin_oj == 'sdut' %}
            {% for user in users %}
              <td width="90px" id={{ loop.index }}> 
              {% if user.sdut and user.sdut.account.solved %} 
                  {{ user.sdut.account.solved.get(problem.problem_id, '') }} 
              {% endif %}
              </td>
            {% endfor %}
          {% elif problem.origin_oj == 'poj' %}
            {% for user in users %}
              <td width="90px" id={{ loop.index }}>
                {% if user.poj and user.poj.account.solved %} 
                  {{ user.poj.account.solved.get(problem.problem_id, '') }} 
                {% endif %} 
              </td>
            {% endfor %}
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script type="text/javascript">
  function addEvent(obj, type, fn){
      if(obj.attachEvent){
          obj.attachEvent('on'+type, function(){fn.call(obj);})
      }
      else{
          obj.addEventListener(type, fn, false);
      }
  }
  addEvent(window, 'scroll', function(){
    $("#step_problem").css('left', document.body.scrollLeft);
  });
  addEvent(window, 'scroll', function(){
    $("#step_user").css('top', document.body.scrollTop);
  });
</script>
<script>
$(document).ready(function(){
  var now = new Date();
  var week_date = new Date(now.getTime() - 7 * 24 * 3600 * 1000);
  $("#table_solution td").each(function () {
    var submit_date = new Date($(this).text().replace(/-/g, "/"));
    if(! isNaN(submit_date)){
      if(submit_date > week_date){
        $(this).addClass("danger");
      }else{
        $(this).addClass("success");
      } 
    } 
  });
})
</script>
<script>
$(document).ready(function(){
  $("#table_user th").each(function () {
    var id = $(this).attr('id');
    var text = $(this).html();
    var ac = $("#table_solution #" + id).filter(".danger,.success").length;
    var p = $("#table_solution #" + id).length;
    if (ac == p){
      $(this).attr("style", "background-color:#5cb85c;color:#fff");
    }
    $(this).html(text + "<br><p>" + ac + "题 / " + p + "题</p>" );
  })
  $(".close").click(function () {
    var id = $(this).parent().attr('id');
    $(this).parent().remove();
    $("#table_solution #" + id).remove();
  })
})
</script>
{% endblock %}
